<div class="row">
<div class="col-sm-8 col-sm-offset-2">

  <div class="jumbotron">
    <p><img src="/assets/octopus.png" alt="Project Octopus"/></p>
    <h1>Project Octopus</h1>
    <h2><%= @title %></h1>
  </div>

</div>
</div>

<div class="row">
  <div class="col-sm-offset-2 col-sm-8">

  <form role="form" action="/reviews;template" method="GET">
    <div class="form-group">
    <input type="text" class="home-input form-control" name="url" value="" autocomplete="off" placeholder="Enter a URL to a Creative Work (e.g, Photograph)" />
    </div>
    <div class="home-input">
    <button type="submit" class="btn btn-default">Start Review Process</button>
    </div>
  </form>

  </div>
</div>
