config/environments/development.rb
config/environments/production.rb
config/environments/test.rb

config/secret_token.rb

public/assets/stylesheets/styles.css
public/docs/api

Gemfile.lock
.sass-cache
