<div class="row">
<div class="col-sm-8 col-sm-offset-2">

<h1>About Octopus</h1>

<p>Octopus organizes provenance and use information about works found anywhere on the web, creating the first whole web observatory of cultural flows and dashboard for creators and fans.</p>

<h2>Team</h2>

<p>Octopus is a joint initiative of <a href="http://www.kl.nl">Kennisland</a> and <a href="www.peerpractice.org">PeerPractice</a>. The core team developing the concept and launching a prototype service by the end of 2014 cumulatively has many decades experience in provenance system development and policy. It includes:</p>

<p><a href="https://github.com/christopheradams">Christopher Adams</a>. Developer at PeerPractice, developer at Fabricatorz with extensive experience building systems for the art, design, and publishing industries.</p>

<p><a href="https://www.kl.nl/mensen/tessa-askamp/">Tessa Askamp</a>. Researcher and organizer at Kennisland focused on open source, copyright, and licensing.</p>

<p><a href="https://www.kl.nl/mensen/paul-keller/">Paul Keller</a>. Vice Chair at Kennisland, Keller is a global leader on copyright, open access, digital heritage, and new media, and is public project lead for Creative Commons Netherlands.</p>

<p><a href="http://en.wikipedia.org/wiki/Mike_Linksvayer">Mike Linksvayer</a>. Advisor at PeerPractice. Co-founder of Bitzi, an early open data/community curation provenance system. Also previously Vice President and Chief Technology Officer at Creative Commons.</p>

<p><a href="http://www.peerpractice.org/people/">Catharina Maracke</a>. Founder of PeerPractice, Associate professor at the Graduate School for Media and Governance, Shonan Fujisawa Campus, at Keio University and fellow at the Berkman Center for Internet &amp; Society and Harvard Law School. Maracke previously served as International Director at Creative Commons.</p>

<p><a href="http://en.wikipedia.org/wiki/Jon_Phillips">Jon Phillips</a>. CTO at PeerPractice, founder of Fabricatorz and founder of Openclipart, the largest community curated vector art repository. Previously Community Director at Creative Commons. </p>

<p><a href="https://www.kl.nl/mensen/maarten-zeinstra/">Maarten Zeinstra</a>. Technology broker and copyright advisor at Kennisland, projects include Europeana, Communia, Creative Commons, outofcopyright.eu, openimages,eu, and Images for the Future.</p>

<p><a href="https://www.kl.nl/">Kennisland</a> is an Amsterdam based think tank with more than 10 years of experience in licensing systems for the cultural heritage sector. Kennisland has been working with individual institutions as well as aggregation platforms such as <a href="http://www.europeana.eu">Europeana</a> and the <a href="http://dp.la">DPLA</a> to develop and deploy rights information systems.</p>

<p><a href="http://www.peerpractice.org">PeerPractice</a> is a boutique consulting firm specialized in international intellectual property and information technology law as well as related legal, management and policy strategies.</p>

<h2>Join us</h2>

<p>Submit urls to your creative works, especially if they have been used somewhere: <a href="http://project-octopus.org">project-octopus.org</a> or Poke around our <a href="https://github.com/project-octopus">source code</a> :). You can also follow us <a href="http://twitter.com/helloocto">on twitter</a>.</p>

</div>
</div>
