<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8"></meta>
  <title>Project Octopus <%= @title %></title>
  <link rel="icon" type="image/x-icon" href="/favicon.ico" />
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootswatch/3.3.0/paper/bootstrap.min.css">
  <style>
    html, body {
      height: 100%;
      font-family: monospace;
    }
    .wrapper {
      min-height: 100%;
      height: auto !important;
      height: 100%;
      margin: 0 auto -4em;
    }
    .footer, .push {
      height: 4em;
    }
    h1, h2, h3, h4, h5, h6 {
      font-size: 1em;
      font-weight: bold;
    }
    label {
      display: block;
    }
    .error {
      display: block;
      color: #F8F8F8;
      background-color: #AB4642;
      padding: 1em;
    }
  </style>
</head>
<body>
<div class="wrapper">
<nav class="navbar" role="navigation">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="/">
        <img height="23px" src="/assets/octopus.png"/>
      </a>
    </div>
    <ul class="nav navbar-nav">
    <li>
    <a href="/">Project Octopus - Showing the use of creative works, one URL at a time.</a>
    </li>
    </ul>
  </div>
</nav>
<div class="container-fluid">
  <div class="row">
    <div class="col-sm-10 col-sm-offset-2">
      <ul class="nav nav-tabs">
        <% for m in @menu %>
          <li><a href="<%= m[:href] %>"><%= m[:prompt] %></a></li>
        <% end %>
      </ul>
    </div>
  </div>
  <%= partial @content %>
</div>
<div class="push"></div>
</div>
<div class="footer">
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-10 col-sm-offset-2">
        <ul class="nav nav-tabs">
          <li><a href="mailto:hello@project-octopus.org">hello@project-octopus.org</a></li>
          <li><a href="https://github.com/project-octopus/octopodes">Github</a></li>
          <li><a href="https://twitter.com/helloocto">Twitter</a></li>
        </ul>
      </div>
    </div>
  </div
</div>
</body>
